* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}
input:focus {
	outline: none !important;
}

body {
	background: #1c1c1c;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	background: #1f2937;
	width: 550px;
	height: 550px;
	padding: 52px;

	h1 {
		color: #fff;
		font-weight: 800;
		font-size: 40px;
		padding-top: 115px;
		letter-spacing: -0.025em;

		span {
			color: #10b981;
		}
	}

	p {
		font-size: 20px;
		color: #d5d4d8;
		padding-top: 10px;
		font-weight: normal;
	}

	#password-length {
		border-radius: 6px;
		width: 223px;
		height: 42px;
		border: none;
		padding: 0 10px;
	}
	button {
		background: #10b981;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
		border-radius: 6px;
		border: none;
		text-align: center;
		width: 223px;
		height: 42px;
		font-weight: 500;
		font-size: 16px;
		color: #fff;
		margin-top: 51px;
		margin-bottom: 35px;
	}

	section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 27px;
		column-gap: 24px;
		text-align: center;
		border-top: 1px solid #d5d4d8;
		padding-top: 35px;

		input {
			// width: 211px;
			// height: 39px;
			width: 100%;
			padding: 15px 0;
			background: #273549;
			border-radius: 6px;
			text-align: center;
			font-weight: 500;
			color: #55f991;
			border: none;
			cursor: pointer;
		}
	}
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 180px;
	background-color: #9CA3AF;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 1;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #9CA3AF transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
